.contact-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 40px;
  padding: 40px;
  font-family: 'Arial', sans-serif;
  color: #4d4d4d;
}

.info-contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-column: 1 / span 2;
}

.information-about-us, .contact-methods {
  width: 50%;
  margin: 80px;
}

.information-about-us {
  margin-top: 80px;
}

.information-about-us h1, .contact-methods h1, .get-in-touch h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #212353;
}

.get-in-touch p{
  margin: 0px 0px 10px 0;
}

.information-about-us p, .contact-methods p, .get-in-touch p {
  font-size: 18px;
  line-height: 1.6;
  color: #4B4B4B;
  text-align: justify;
}

.tres-colores {
  margin-top: 20px;
}

.get-in-touch {
  grid-column: 1 / span 1;
  width: 100%;
}

.form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.form-contact input, .form-contact textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  resize: none;
  box-sizing: border-box;
}

.form-contact textarea {
  height: 150px;
}

.form-contact button {
  width: 100%;
  padding: 12px;
  background-color: #FF6584;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.form-contact button:hover {
  background-color: #E03571;
}

.Contactanos {
  grid-column: 2 / span 1;
  display: flex;
  justify-content: center;
}

.Contactanos-img {
  width: 80%;
  max-width: 600px;
}

.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
}

.circle-1 {
  background-color: #6C63FF;
}

.circle-2 {
  background-color: #FF6584;
}

.circle-3 {
  background-color: #30C9F4;
}

.textoconimagen {
  display: flex;
  text-align: justify;
}

.textoconimagen p {
  margin: 10px 10px;
}

.textoconimagen img {
  width: 50px;
  height: 50px;
  margin: 5px 10px;
}

@media (max-width: 768px) {
  .contact-page {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  
  .info-contact-container {
    flex-direction: column;
  }
  
  .information-about-us, .contact-methods {
    width: 100%;
    margin-bottom: 20px;
    margin: 0 auto;
  }

  .get-in-touch {
    grid-column: 1 / span 1;
  }

  .Contactanos-img{
    display: none;
  }

  .information-about-us h1, .contact-methods h1, .get-in-touch h1 {
    text-align: center;
  }
}

@media (max-width: 480px) {

  .Contactanos {
    display: none;
  }
  .contact-page {
    gap: 20px;
    padding: 10px 20px;
    justify-items: center;
  }
  
  .info-contact-container {
    flex-direction: column;
  }
  
  .information-about-us, .contact-methods {
    width: 100%;
    margin-bottom: 20px;
  }

  .information-about-us h1, .contact-methods h1, .get-in-touch h1 {
    text-align: center;
  }

  .get-in-touch p {
    margin: 10px auto;
  }

  .form-group {
    flex-direction: column;
    gap: 10px;
  }

  .form-contact input, .form-contact textarea {
    width: 100%;
  }

  .form-contact button {
    width: 100%;
  }

  .Contactanos-img {
    width: 100%;
    max-width: none;
  }
}
