.producto-contenedor-detalles {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.producto-descripcion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: auto;
}

.producto-imagenes {
  display: flex;
  align-items: center;
}

.producto-demas-imagenes {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: center;
}

.producto-demas-imagenes img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.producto-demas-imagenes img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 5px;
}

.producto-primera-imagen img {
  width: 250px;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 10px;
}

.producto-primera-imagen img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.producto-caracteristicas-descripcion {
  margin: 20px;
}

.producto-caracteristicas-descripcion h1,
.producto-caracteristicas-descripcion h2,
.producto-caracteristicas-descripcion p {
  margin: 10px 0;
  text-align: justify;
}

.producto-precio {
  font-size: 1.5em;
  color: #333;
}

.producto-precio span {
  color: #ff4081;
}

.producto-caracteristicas-descripcion h2 span {
  font-weight: normal;
  color: #666;
}

.producto-descripcion button {
  background-color: #ff4081;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.producto-contenedor-descripcion {
  margin: 20px auto;
  background-color: #f9f9f9;
  padding: 20px;
  max-width: 100%;
  text-align: justify;
}

.producto-contenedor-descripcion h1,
.producto-contenedor-descripcion h2,
.producto-contenedor-descripcion p {
  color: #151875;
  font-size: 20px;
  margin: 15px 100px;
}

.producto-contenedor-descripcion p {
  color: #A9ACC6;
}

.producto-contenedor-comentarios {
  margin: 20px auto;
  max-width: 800px;
}

.producto-contenedor-comentarios h1 {
  text-align: center;
  margin: 20px;
}

.producto-todos-comentarios .producto-comentario {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.producto-todos-comentarios .producto-comentario h2,
.producto-todos-comentarios .producto-comentario p,
.producto-todos-comentarios .producto-comentario span {
  margin: 5px 0;
}

.producto-agregar-comentario {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.producto-agregar-comentario input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.producto-agregar-comentario button {
  background-color: #ff4081;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.producto-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.producto-modal-content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
}

.producto-imagen-grande {
  width: auto;
  max-width: 100%;
  max-height: 80vh;
  border-radius: 8px;
  padding: 0;
  object-fit: contain;
  background-color: #fff;
}



.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
  .producto-descripcion {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .producto-imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .producto-demas-imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
  }

  .producto-demas-imagenes img {
    width: 100px;
    height: 100px;
  }

  .producto-primera-imagen {
    margin-bottom: 20px;
  }

  .producto-primera-imagen img {
    width: 300px;
    height: auto;
  }

  .producto-caracteristicas-descripcion {
    margin-top: 20px;
    text-align: center;
  }

  .producto-contenedor-descripcion {
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    max-width: 100%;
    text-align: justify;
  }

  .producto-contenedor-descripcion h1 {
    text-align: center;
    font-size: 25px;
    color: #151875;
    margin: 15px 10px;
  }

  .producto-contenedor-descripcion h2,
  .producto-contenedor-descripcion p {
    color: #151875;
    font-size: 18px;
    margin: 15px 10px;
  }

  .producto-contenedor-descripcion p {
    color: #A9ACC6;
  }
}
