/* EditarPerfil.css */
.editar-perfil-container-custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin-top: 80px;
    margin-bottom: 80px;
}

.editar-perfil-card-custom h2 {
    text-align: center;
}

.editar-perfil-card-custom {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: left;
}

.editar-perfil-card-custom h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group-custom {
    margin-bottom: 15px;
}

.form-group-custom label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.form-group-custom input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.buttons-custom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.guardar-button-custom, .cancelar-button-custom {
    background-color: #ff007f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.guardar-button-custom:hover, .cancelar-button-custom:hover {
    background-color: #e60073;
}

@media (max-width: 480px) {
    .editar-perfil-container-custom {
        margin:20px;
    }
}
 