.footer {
  background-color: #E7E4F8;
  color: #8A8FB9;
  padding: 20px 0;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  margin-bottom: 20px;
}

.footer-section h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: black;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #8A8FB9;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
  color: #FB2E86;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #444;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .footer-content {
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
  }
}
