.header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .header-one {
    background-color: #7E33E0;
    padding: 10px;
    margin-bottom: 10px;
    width: auto;
    text-align: right;
  }
  
  .header-one a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }

  
  nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav input[type="text"] {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  nav button {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #FB2E86;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  header h1 {
    color: #0D0E43;
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #0D0E43;
  }
  
  nav ul li a:hover, 
  nav ul li a:active {
    text-decoration: underline;
    text-decoration-color: #FB2E86;
    color: #FB2E86; 
  }
  