.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  margin: 10px;
}

.buscador {
  display: flex;
  align-items: center;
}

.buscador input[type="text"] {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.buscador button {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #FB2E86;
  color: white;
  border: none;
  cursor: pointer;
}

.header-one {
  background-color: #7E33E0;
  padding: 10px;
  margin-bottom: 10px;
  width: auto;
  text-align: right;
}

.header-one a {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.nombre {
  color: #0D0E43;
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #0D0E43;
}

nav ul li a:hover, 
nav ul li a:active {
  text-decoration: underline;
  text-decoration-color: #FB2E86;
  color: #FB2E86; 
}

@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
  }

  .header-one {
    width: 100%;
    text-align: center;
  }

  .buscador {
    width: 100%;
    text-align: center;
    justify-content: center; 
  }

  .buscador input[type="text"] {
    width: 40%;
  }
  nav {
    margin: 10px;
  }
}
