.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  margin: 10px;
}

.buscador {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buscador input[type="text"] {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.buscador button {
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #FB2E86;
  color: white;
  border: none;
  cursor: pointer;
}

.header-one {
  background-color: #7E33E0;
  padding: 10px 0px;
  margin-bottom: 10px;
  width: 100%;
  text-align: right;
}

.header-one a {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 20px;
  color: white;
}

.logo {
  text-align: center;
}

.nombre {
  color: #0D0E43;
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #0D0E43;
}

nav ul li a:hover,
nav ul li a:active {
  text-decoration: underline;
  text-decoration-color: #FB2E86;
  color: #FB2E86;
}

@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
    text-align: center;
  }

  .header-one {
    text-align: center;
  }

  .buscador {
    width: 100%;
    justify-content: center;
  }

  .buscador input[type="text"] {
    width: 40%;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 5px 0;
  }
}

.header-one {
  display: flex;
  align-items: center;
  justify-content: right;
}

.header-button {
  background: none;
  border: none;
  color: white;
  font: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0;
  margin: 0px 10px;
  border-radius: 5px;
}

.header-button:hover,
.header-button:focus {
  background-color: #00000000;
}
