/* src/Css/Inicio.css */

/* Estilos para el primer carrusel */
.carousel {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    animation: fadeInOut 6s infinite;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-content {
    width: 400px;
    position: absolute;
    top: 45%;
    left: 38%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: left;
}

.carousel-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.carousel-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.buy-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FB2E86;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #c81261;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.prev-button:hover,
.next-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

/* Animación para el primer carrusel */
@keyframes fadeInOut {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}

/* Estilos para el segundo carrusel */
.new-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 20px 0;
}

.new-carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.new-carousel-item {
    flex: 0 0 25%; /* Mostrar 4 items por pantalla */
    box-sizing: border-box;
    padding: 10px;
}

.contenedor-imagenes-carrucel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F7FB;
}

.new-carousel-content {
    background-color: white;
    text-align: center;
}

.new-carousel-button {
    position: absolute;
    bottom: 10px; /* Ajustar la posición desde la parte inferior */
    width: 50px; /* Ajustar el ancho si es necesario */
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.new-carousel-button.prev {
    left: 10px; /* Ajustar la posición desde la izquierda */
}

.new-carousel-button.next {
    right: 10px; /* Ajustar la posición desde la derecha */
}

.secciones-productos {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.secciones-productos .titulo-seccion {
    font-size: 10px;
    padding: 10px;
}

.productos-container {
    display: flex;
    justify-content: center;
}

.productos-container .producto {
    margin: 10px;
}

/* Estilos para el contenedor del producto */
.contenedor-producto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #F6F7FB;
    margin: 20px;
    border-radius: 10px;
}

.producto-imagen {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.producto-contenido {
    max-width: 500px;
}

.producto-contenido h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.producto-contenido ul {
    list-style-type: none;
    padding: 0;
}

.producto-contenido li {
    font-size: 16px;
    margin-bottom: 5px;
}

.producto-contenido .buy-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FB2E86;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.producto-contenido .buy-button:hover {
    background-color: #c81261;
}

.producto-contenido .price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

/* Estilos para Productos de tendencia */
.trend-products {
    text-align: center;
    margin: 50px 0;
}

.trend-products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.trend-product {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.trend-product-image-wrapper {
    background-color: #F5F6F8;
    padding: 20px;
}

.trend-product .trend-product-image {
    width: 150px; /* Ajusta según sea necesario */
    height: auto;
}

.trend-product .producto-info {
    margin-top: 10px;
}

.trend-product .product-name {
    font-size: 16px;
    font-weight: bold;
    color: #151875; /* Ajusta el color según sea necesario */
    margin: 10px 0;
}

.trend-product .product-price {
    font-size: 14px;
    color: #151875;
}

.trend-product .product-price .price-old {
    text-decoration: line-through;
    color: #999;
    margin-left: 10px;
}

/* Estilos para la sección de productos con descuento */
.contenedor-descuento {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.contenedor-descuento h1 {
    font-size: 32px;
    color: #2A2A2A;
    margin-bottom: 20px;
}

.navegacion-productos {
    margin-bottom: 20px;
}

.navegacion-productos a {
    font-size: 16px;
    color: #151875;
    text-decoration: none;
    margin: 0 10px;
    position: relative;
}

.navegacion-productos a.activo::after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #151875;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.producto-descuento {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.info-descuento {
    max-width: 500px;
    margin-right: 20px;
    text-align: left;
}

.info-descuento h2 {
    font-size: 28px;
    color: #2A2A2A;
    margin-bottom: 10px;
}

.info-descuento h3 {
    font-size: 24px;
    color: #FB2E86;
    margin-bottom: 10px;
}

.info-descuento p {
    font-size: 16px;
    color: #2A2A2A;
    margin-bottom: 20px;
}

.info-descuento ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.info-descuento li {
    font-size: 16px;
    color: #2A2A2A;
    margin-bottom: 5px;
}

.imagen-descuento img {
    max-width: 300px;
    height: auto;
}

.buy-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FB2E86;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #c81261;
}

/* Estilos para Categorías principales */
.categorias-principales {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
}

.categorias-principales h1 {
    font-size: 32px;
    color: #2A2A2A;
    margin-bottom: 20px;
}

.categorias-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.categoria-item {
    margin: 10px;
    border: 1px solid #ddd;
    background-color: #9877E7;
    text-align: center;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.categoria-imagen-wrapper {
    margin-left: 10px;
    background-color: #F5F6F8;
    padding: 20px;
    border-radius: 50%;
}

.categoria-imagen {
    width: 100px; /* Ajusta según sea necesario */
    height: auto;
}

.categoria-info {
    margin-top: 10px;
}

.categoria-nombre {
    font-size: 16px;
    font-weight: bold;
    color: #151875; /* Ajusta el color según sea necesario */
    margin: 10px 0;
}

.categoria-precio {
    font-size: 14px;
    color: #151875;
}

.categorias-paginacion {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.categorias-paginacion span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.categorias-paginacion .paginacion-activa {
    background-color: #FB2E86;
}

/* Estilos para la sección de lista de productos */
.lista-productos {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
}

.lista-productos h1 {
    font-size: 32px;
    color: #2A2A2A;
    margin-bottom: 20px;
}

.lista-productos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.lista-producto-item {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lista-producto-imagen-wrapper {
    background-color: #F5F6F8;
    padding: 20px;
}

.lista-producto-imagen {
    width: 150px; /* Ajusta según sea necesario */
    height: auto;
}

.lista-producto-item .producto-info {
    margin-top: 10px;
}

.lista-producto-item .product-name {
    font-size: 16px;
    font-weight: bold;
    color: #151875; /* Ajusta el color según sea necesario */
    margin: 10px 0;
}

.lista-producto-item .product-price {
    font-size: 14px;
    color: #151875;
}

.lista-producto-item .product-price .price-old {
    text-decoration: line-through;
    color: #999;
    margin-left: 10px;
}

.contenedor-fondo {
    position: relative;
    text-align: center;
    color: white;
}

.fondo-imagen {
    width: 100%;
    height: auto;
    display: block;
}

.fondo-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2A2A2A;
}

.fondo-texto h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.fondo-boton {
    padding: 10px 20px;
    background-color: #FB2E86;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.fondo-boton:hover {
    background-color: #c81261;
}

.Contenedor-empresas{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}








.logout-section {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.logout-section button {
    padding: 10px 20px;
    background-color: #f04e4e;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.logout-section button:hover {
    background-color: #d74343;
}
