.nosotros-container {
    padding: 20px;
    margin: 0;
}

.nosotros-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.nosotros-img {
    width: 100%;
    max-width: 400px;
    box-shadow: -10px 10px 5px #2B3CAB;
    border-radius: 10px;
    margin: 0px 0px 0px 50px;
}

.nosotros-text {
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.nosotros-text h1 {
    color: #151875;
    font-size: 24px;
    margin-bottom: 10px;
    margin: 30px 50px 0px 0;
}

.nosotros-text p {
    color: #8A8FB9;
    font-size: 16px;
    margin-bottom: 20px;
    margin: 10px 50px 0px 0;
}

.contact-button {
    background-color: #FB2E86;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

.contact-button:hover {
    background-color: #ce1a68;
}

.contenedor-carrucel h1 {
    margin: 30px;
    text-align: center;
}

.card {
    border-bottom: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 250px;
    margin: 10px;
    text-align: center;
}

.card.selected {
    transform: scale(1.05);
    border-bottom-color: #FF9100;
}

.card-img {
    width: 100%;
    height: 80px;
    object-fit: contain;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    margin: 0 0 10px;
    font-size: 1.25em;
}

.card-content p {
    margin: 0;
    font-size: 0.9em;
    color: #555;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.slider-contenedor {
    text-align: center;
    padding: 20px;
    margin: 30px 80px;
}

.testimonial-container {
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.testimonial-img {
    width: 80px;
    height: auto;
    margin: 0 10px;
}

.testimonial-img.middle {
    margin-bottom: 20px;
}

.fondo-testimonios {
    background-color: #FBFBFF;
}

.slider-contenedor h1 {
    font-size: 42px;
}

.slider-contenedor h2 {
    color: #151875;
    font-size: 22px;
    margin: 0;
}

.slider-contenedor p {
    margin: 0px 0px 10px;
    color: #8A8FB9;
    font-size: 10px;
}

.slider-contenedor h3 {
    margin: 0;
    color: #8A8FB9;
    font-size: 16px;
}

@media screen and (max-width: 1100px) {
    .nosotros-container {
        margin: 0;
    }

    .nosotros-text {
        margin: 10px;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .nosotros-container {
        width: 90%;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    .contact-button {
        margin: 0px 0;
    }

    .slider-contenedor {
        margin: 0;
    }

    .nosotros-text {
        display: contents;
        padding: 10px;
    }

    .nosotros-img {
        margin: 0 auto;
    }

    .nosotros-text h1,
    .nosotros-text p {
        padding: 10px 20px;
        margin: 0 auto;
        text-align: center;
        text-align: justify;
    }
    .slider-contenedor h3{
        text-align: justify;
    }
}
